
<br>
<div class="container-fliod">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <button routerLink="ajouter-logement" class="btn btn-success btn-lg button">Ajouter</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <button routerLink="Afficher-logement" class="btn btn-info btn-lg button">Afficher la liste</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <button routerLink="chercher" class="btn btn-info btn-lg button">chercher</button>
                </div>
            </div>
        </div>
    </div>
</div>